-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      -if @model.sort == "title"
        %th{:class => "hilite"}= link_to "Title", sort_movies_path("title"),{:id=>"title_header"}
      -else
        %th= link_to "Title", sort_movies_path("title"),{:id=>"title_header"}
      %th Rating
      -if @model.sort == "date"
        %th{:class => "hilite"}= link_to "Release Date", sort_movies_path("date"),{:id=>"release_date_header",:class=>"hilite"}
      -else
        %th= link_to "Release Date", sort_movies_path("date"),{:id=>"release_date_header"}
      %th More Info
  %tbody
    - @model.movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
