-# in app/views/movies/show.html.haml

%h2 Details about #{@model.movie.title}

%ul#details
  %li
    Rating:
    = @model.movie.rating
  %li
    Released on:
    = @model.movie.release_date.strftime("%B %d, %Y")

%h3 Description:

%p#description= @model.movie.description

= link_to 'Edit', edit_movie_path(@model.movie)
= button_to 'Delete', movie_path(@model.movie), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to movie list', movies_path + "/sort/" + @model.sort
